@import 'variables.scss';

.player {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: black;

    video {
        position: absolute;
        top: calc(50% + #{$header-height/2});
        transform: translateY(-50%);
        width: 100%;
        transition: opacity 100ms linear;
    }

    .play-pause, .loader, .error-indicator {
        position: absolute;
        top: calc(50% + #{$header-height/2} - 50px);
        left: calc(50% - 50px);
        border-radius: 50%;
        border: solid 4px #CCC;
        width: 100px;
        height: 100px;
        transition: opacity 100ms linear;
        opacity: 0;

        &.visible {
            opacity: 1;
        }

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            color: #CCC;
            font-size: 2.4em;
            font-style: normal;
        }

        &, & * {
            pointer-events: none;
        }
    }

    .controls {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: $spacing;
        padding: 0 25px $spacing - 15px 25px;

        .top-controls {
            .time {
                font-size: 1.125em;
                color: white;
            }

            .actions {
                position: absolute;
                right: 20px;
                top: -5px;

                i {
                    font-size: 1.6em;
                    color: #AAA;
                    transition: color 125ms linear;
                    padding: 5px;
                    cursor: pointer;

                    &.active {
                        color: white;
                    }
                }
            }
        }

        .seek {
            padding: 10px 0;
            position: relative;
            cursor: pointer;
            height: 26px;

            .seek-bar {
                &, &>.seek-bar-progress {
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                    height: 6px;
                    background-color: $dark-base-colour;
                }
    
                >.seek-bar-progress {
                    z-index: 2;
                    transition: width 100ms linear;
                    background-color: $base-colour;
                }
            }
            
        }
    }

    &.paused .play-pause {
        opacity: 1;
    }

    &.paused, &.loading {
        video {
            opacity: 0.6;
        }
    }

    &.loading {
        .loader {
            opacity: 1;
            border-color: #555;
            border-bottom-color: #CCC;
            transform-origin: center center;
            animation-name: spin;
            animation-duration: 800ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        .play-pause {
            display: none;
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}